@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body, #root {
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

button, input, select, textarea {
  font: inherit;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

body {
  min-width: 320px;
}
